*{
    margin: 0;
    padding: 0;
}

body{
    background: url('images/img.jpg')  ;
    background-size: cover;
    background-repeat:no-repeat;
    opacity: 0.95;
}
/*navbar*/
#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
    top: 0;
    margin: 30px 160px;
    border-radius: 5px;
    
}
.logo{
    display:flex;
    padding: 4px 15px;
}
.logo img{
    height: 50px;
}
.logo span{
   padding: 15px 1px;
   font-family: 'Signika', sans-serif;
   font-size: 1.2rem;
   color:green;
   
}
#navbar ul{
    display: flex;
    padding-left: 320px;
}
#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    text-decoration: none;
    padding: 0px 20px;
    font-family: 'Signika', sans-serif;
    font-size: 1.02rem;
    color: brown;
}
#navbar ul li a:hover{
    background-color:rgba(195, 206, 188, 0.425);
    color: rgb(5, 1, 1);
    padding: 20px;
    font-size: 1.05rem;
    
}
#navbar ul li a:active{
    color: red
}
    

/*home*/
#home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn{
    width: 7rem;
    height: 2rem;
    margin: 12px 5px;
    padding: 6px 5px;
    background-color:rgb(116, 19, 116);
    color:white;
    font-family: 'Signika', sans-serif;
    border: none;
    font-size: 16px;

}
.btn:hover{
    cursor: pointer;
    background-color: rgb(238, 144, 238);
    color: rgb(7, 22, 44);
    
}
#home-item{
    margin-top: 80px;
    padding-left: 70px;
    width: 40%;
}
#home h5{
    padding: 5px 0px;
    color: rgba(61, 58, 53, 0.815);
    font-family: 'Signika', sans-serif;
    font-size: 1.3rem;
}
#home h1{
    font-size: 3.6rem;
    color: rgb(116, 19, 116);
    font-family: 'Signika', sans-serif;
}
#home p{
    color: rgba(22, 21, 20, 0.877);
    font-weight: 500;
    font-family: 'Signika', sans-serif;
}

